<!-- 
	reactive: 
	- state that can trigger updates when changed are considered reactive. 
	- only works on objects (including arrays and built-in types like Map and Set)
-->

<!-- 
	ref:
	- To access the ref, we need to declare and expose a ref with a matching name
	- can take any value type and create an object that exposes the inner value under a .value property
	- the template ref is only accessible after the component is MOUNTED
 -->

<!-- SFC: Single file component, encapsulates the component's logic (JS), template (HTML) and styles (CSS) in a single file -->

<!-- shorthand for v-bind, :class="" -->
<!-- shorthand for v-on, @click -->

<!-- v-model: automatically SYNCS the input's value with the bound state so we no longer need to use an event handler -->

<!-- computed: a computed ref computes its '.value' based on other reactive data sources. It caches the result and automatically updates it when its dependencies change -->

<!-- lifecycle hook - the ability to register a callback to be called at certain times of the component's lifecycle -->

<!-- watch(): directly watch a ref, and the callback gets fired whenever the value changes. watch can also watch other types of data sources -->

<!-- v-bind: to pass a dynamic value prop, we can use the 'v-bind' syntax -->

<!-- v-on: the parent can listen to child-emitted events using 'v-on' where the handler receives the extra argument from the child emit call and assigns it to a local state -->

<!-- Declarative Rendering: Vue extends standard HTML with a template syntax that allows us to declaratively describe HTML output based on JavaScript state

Reactivity: Vue automatically tracks JavaScript state changes and efficiently updates the DOM when changes happen.

Setup: The 'setup' attribute is a hint that makes Vue perform compile-time transforms that allows us to use Composition API with less boilerplate. 
Imports and top-level variables/functions declared in <script setup> are directly usable in the template -->

<script type="importmap">
	{
		"imports": {
			"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
		}
	}
</script>

<script type="module">
	import { createApp, reactive, ref, onMounted } from 'vue';

	createApp({
		setup() {
			const count = ref(0);
			const text = ref('');
			const awesome = ref(true);
			const message = ref(null);

			function increment() {
				count.value++;
			}

			function toggle() {
				awesome.value = !awesome.value;
			}

			onMounted(() => {
				message.value.textContent = 'Hello Beautiful World!';
			});

			return {
				count,
				text,
				awesome,
				message,
				increment,
				toggle
			};
		}
	}).mount('#app');
</script>

<div id="app">
	<h1 ref="message">Some text</h1>
	<div class="section">
		<p>Count is: {{ count }}</p>
		<button @click="increment">Increase count</button>
	</div>

	<div class="section">
		<input
			v-model="text"
			placeholder="Enter some text here"
		/>
		<p>{{ text }}</p>
	</div>

	<div class="section">
		<button @click="toggle">Change text</button>
		<h3 v-if="awesome">No Moss</h3>
		<h3 v-else>Yes Moss</h3>
	</div>
</div>

<style scoped>
	.section {
		padding-top: 16px;
	}
</style>
